include LICENSE
include README.*
include CHANGES.*
include MANIFEST.in
include docs/conf.py
include docs/Makefile
include docs/make.bat
include pytest.ini
include docs/requirements.txt
recursive-include docs *.rst
