include LICENSE
include *.py
include README.*
include MANIFEST.in
include docs/conf.py
include docs/Makefile
include docs/make.bat
include pytest.ini
include requirements.txt
include requirements-test.txt
recursive-include docs *.rst
