name: Test

on: [push, pull_request]

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
        python-version:
          - '3.10'
          - '3.11'
          - '3.12'
          - '3.13'
          - '3.14'
    name: ${{ matrix.os }}, Python ${{ matrix.python-version }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        id: setup_python
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install tidy
        if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get install -y libtidy5deb1
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          save-cache: ${{ github.ref == 'refs/heads/main' }}
          cache-suffix: ${{ steps.setup_python.outputs.python-version }}
          version: 0.9.28
      - name: Install tidy
        if: matrix.os == 'macos-latest'
        run: brew install tidy-html5
      - name: Install tidy
        if: matrix.os == 'windows-latest'
        run: choco install html-tidy -y
      - name: Install pip dependencies
        run: uv sync --all-extras
      - name: Check used library
        run: uv run python -c 'import tidy.lib; print(tidy.lib._tidy.lib._name)'
      - name: Check used library version
        run: uv run python -c 'import tidy.lib; print(tidy.lib.getTidyVersion())'
      - name: Test
        run: uv run pytest --cov=tidy tidy
      - name: Coverage
        run: uv run coverage xml
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          token: ${{secrets.CODECOV_TOKEN}}
          flags: unittests
          name: Python ${{ matrix.python-version }}, ${{ matrix.os }}, tidy ${{ matrix.tidy-version }}
